{% extends "base.html" %}

{% block content %}
<h2>Projects:</h2>
<div id="infobar">
	<h4 style="margin:10px;">"Classy:" A University of Michigan Course Guide Website.</h4>
	<p style="font-size:0.7em;margin:0;"><a href="http://classy-umich.herokuapp.com" target="_blank">Link to the site</a></p>
	<p style="font-size:0.9em;">This website was made for an EECS 183 final project at the University of Michigan. Languages used in this project include HTML/CSS, Jinja2, and Python. Course information integrated from the University of Michigan's class schedule API. Collaboration provided and supported by Github. Website deployment supported by Flask and hosted by Heroku.</p>
</div>

{% endblock %}